<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | METABUS</title>

    <style>

    </style>
</head>

<body>
<div>
    <h1>
        여기는 대시보드여 ...
    </h1>
</div>
{{> leftmenu}}
{{> footer}}
</body>

</html>
