<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | METABUS</title>

    <style>

    </style>
</head>

<body>
<div id="login" class="login_container">

    <!-- login_wrap -->
    <ul class="login_wrap">
        <li><img src="/images/logo_sc122.png" style="width:500px; height:250px; padding-top:100px;"/></li>
        <li class="loginbox02">
            <div class="hgroup">
                <h1><img src="/images/logintitle.png" alt="Login"/></h1>
            </div>
            <form name="" method="" action="">
                <fieldset>
                    <legend>로그인 폼</legend>
                    <div class="login_form">
                        <p class="field">
                            <label for="uid">이메일을 입력하세요</label>
                            <input name="uid" type="text" id="email" class="inp_text"
                                   onkeypress="if(event.keyCode==13){FN.login();}"/>
                        </p>
                        <p class="field">
                            <label for="pwd">비밀번호를 입력하세요. </label>
                            <input name="pwd" type="password" id="userPassword" class="inp_text"
                                   onkeypress="if(event.keyCode==13){FN.login();}"/>
                            <!-- Modify. 2017. 05. 19 JBum -->
                        </p>

                        <p class="btn_login">
                            <a class="loginBtn"><span class="blind">로그인</span></a>
                        </p>
                        <p class="login_line">
                        </p>
                    </div>
                </fieldset>
            </form>
        </li>
    </ul>
</div>
{{> leftmenu}}
{{> footer}}
</body>

</html>
