<configuration>

    <!-- Appenders -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Logger -->
    <!--<logger name="com.example" level="DEBUG"/>-->
    <logger name="org.springframework" level="DEBUG"/>
    <logger name="org.apache.commons.digester" level="DEBUG"/>
    <logger name="org.springframework.security" level="DEBUG"/>
    <logger name="java.sql" level="DEBUG"/>
    <!-- Root Logger -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
