<!--<style>-->
<!--.backLayer {-->
<!--display:none;-->
<!--background-color:#80000000;-->
<!--position:absolute;-->
<!--left:0px;-->
<!--top:0px;-->
<!--}-->
<!--</style>-->
<!--<div class='backLayer'  style="display: none; position: absolute;background-color: black; z-index:10;"  >-->
<!--    <div id="loadingbar"><img  src='/images/ajax-loader.gif'/></div>-->
<!--</div>-->